apiVersion: v1
kind: ConfigMap
metadata:
  name: otelcol-process-config
  namespace: monitoring
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317

    processors:
      batch:
        send_batch_size: 8192
        timeout: 5s
      transform:
        metric_statements:
          - context: datapoint
            statements:
              - set(resource.attributes["service.name"], datapoint.attributes["host"]) where resource.attributes["service.name"] == nil
              # Workload Name
              - set(resource.attributes["k8s.workload.name"], resource.attributes["k8s.deployment.name"]) where resource.attributes["k8s.deployment.name"] != nil and resource.attributes["k8s.deployment.name"] != ""
              - set(resource.attributes["k8s.workload.name"], resource.attributes["k8s.statefulset.name"]) where resource.attributes["k8s.statefulset.name"] != nil and resource.attributes["k8s.statefulset.name"] != "" and resource.attributes["k8s.workload.name"] == nil
              - set(resource.attributes["k8s.workload.name"], resource.attributes["k8s.daemonset.name"]) where resource.attributes["k8s.daemonset.name"] != nil and resource.attributes["k8s.daemonset.name"] != "" and resource.attributes["k8s.workload.name"] == nil
              - set(resource.attributes["k8s.workload.name"], resource.attributes["k8s.replicaset.name"]) where resource.attributes["k8s.replicaset.name"] != nil and resource.attributes["k8s.replicaset.name"] != "" and resource.attributes["k8s.workload.name"] == nil
              # Workload Type
              - set(resource.attributes["k8s.workload.type"], "deployment") where resource.attributes["k8s.deployment.name"] != nil and resource.attributes["k8s.workload.type"] == nil
              - set(resource.attributes["k8s.workload.type"], "statefulset") where resource.attributes["k8s.statefulset.name"] != nil and resource.attributes["k8s.workload.type"] == nil
              - set(resource.attributes["k8s.workload.type"], "daemonset") where resource.attributes["k8s.daemonset.name"] != nil and resource.attributes["k8s.workload.type"] == nil
              - set(resource.attributes["k8s.workload.type"], "replicaset") where resource.attributes["k8s.replicaset.name"] != nil and resource.attributes["k8s.workload.type"] == nil
              - set(resource.attributes["k8s.workload.type"], "unknown") where resource.attributes["k8s.workload.type"] == nil and resource.attributes["k8s.namespace.name"] != nil
        log_statements:
          - statements:
            - set(resource.attributes["service.name"], log.attributes["hostname"]) where resource.attributes["service.name"] == nil
            - set(log.body, Trim(log.attributes["message"])) where resource.attributes["service.name"] == "vyos"
            # Log Level, primarily for k8s logs
            - set(log.severity_text, "FATAL") where IsMatch(log.body, "(?i)(fatal|panic|critical|segmentation fault|out of memory)") and log.severity_text == ""
            - set(log.severity_number, 21) where log.severity_text == "FATAL"
            - set(log.severity_text, "ERROR") where IsMatch(log.body, "(?i)(error|failed|failure|exception|stacktrace|traceback)") and log.severity_text == ""
            - set(log.severity_number, 17) where log.severity_text == "ERROR"
            - set(log.severity_text, "WARN") where IsMatch(log.body, "(?i)(warn|warning|deprecated|retry|timeout)") and  log.severity_text == ""
            - set(log.severity_number, 13) where log.severity_text == "WARN"
            - set(log.severity_text, "INFO") where IsMatch(log.body, "(?i)(info|information|starting|started|stopping|stopped|ready|healthy)") and log.severity_text == ""
            - set(log.severity_number, 9) where log.severity_text == "INFO"
            - set(log.severity_text, "DEBUG") where IsMatch(log.body, "(?i)(debug|trace|verbose)") and log.severity_text == ""
            - set(log.severity_number, 5) where log.severity_text == "DEBUG"
            # Workload Name
            - set(resource.attributes["k8s.workload.name"], resource.attributes["k8s.deployment.name"]) where resource.attributes["k8s.deployment.name"] != nil and resource.attributes["k8s.deployment.name"] != ""
            - set(resource.attributes["k8s.workload.name"], resource.attributes["k8s.statefulset.name"]) where resource.attributes["k8s.statefulset.name"] != nil and resource.attributes["k8s.statefulset.name"] != "" and resource.attributes["k8s.workload.name"] == nil
            - set(resource.attributes["k8s.workload.name"], resource.attributes["k8s.daemonset.name"]) where resource.attributes["k8s.daemonset.name"] != nil and resource.attributes["k8s.daemonset.name"] != "" and resource.attributes["k8s.workload.name"] == nil
            - set(resource.attributes["k8s.workload.name"], resource.attributes["k8s.replicaset.name"]) where resource.attributes["k8s.replicaset.name"] != nil and resource.attributes["k8s.replicaset.name"] != "" and resource.attributes["k8s.workload.name"] == nil
            # Workload Type
            - set(resource.attributes["k8s.workload.type"], "deployment") where resource.attributes["k8s.deployment.name"] != nil and resource.attributes["k8s.workload.type"] == nil
            - set(resource.attributes["k8s.workload.type"], "statefulset") where resource.attributes["k8s.statefulset.name"] != nil and resource.attributes["k8s.workload.type"] == nil
            - set(resource.attributes["k8s.workload.type"], "daemonset") where resource.attributes["k8s.daemonset.name"] != nil and resource.attributes["k8s.workload.type"] == nil
            - set(resource.attributes["k8s.workload.type"], "replicaset") where resource.attributes["k8s.replicaset.name"] != nil and resource.attributes["k8s.workload.type"] == nil
            - set(resource.attributes["k8s.workload.type"], "unknown") where resource.attributes["k8s.workload.type"] == nil and resource.attributes["k8s.namespace.name"] != nil
      transform/pfsense:
        log_statements:
        - conditions:
            - resource.attributes["service.name"] == "pfsense"
          statements:
            - 'set(log.attributes, ExtractPatterns(log.body, "^<(?P<priority>\\d+)>(?P<timestamp>\\S+\\s+\\S+\\s+\\S+) (?P<process>\\S+)\\[(?P<pid>\\d+)\\]: (?P<message>.*)$"))'
            - set(log.attributes["facility"], Int(log.attributes["priority"]) / 8) where log.attributes["priority"] != nil
            - set(log.body, log.attributes["message"]) where log.attributes["message"] != nil
            - keep_keys(log.attributes, ["process", "priority", "facility", "proc_id"])
      transform/coredns:
        log_statements:
        - conditions:
            - resource.attributes["service.name"] == "coredns"
            - IsMap(log.body) and log.body["MESSAGE"] != nil and IsMatch(log.body["MESSAGE"], "^\\[INFO\\]")
          statements:
            - set(log.attributes, ExtractPatterns(log.body["MESSAGE"], "\\[(?P<level>\\S+)\\] (?P<client_ip>\\S+):(?P<client_port>\\S+) - (?P<query_id>\\S+) \\\"(?P<type>\\S+) (?P<class>\\S+) (?P<name>\\S+) (?P<proto>\\S+) (?P<request_size>\\S+) (?P<dnssec_ok>\\S+) (?P<bufsize>\\S+)\\\" (?P<rcode>\\S+) (?P<flags>\\S+) (?P<response_size>\\S+) (?P<duration_seconds>[0-9\\.]+)"))
            - set(log.body, log.body["MESSAGE"])


    exporters:
      clickhouse:
        endpoint: "tcp://clickhouse:9000?compress=lz4&async_insert=1"
        create_schema: true
        username: admin
        password: admin
        sending_queue:
          queue_size: 10000
        retry_on_failure:
          enabled: true
          initial_interval: 5s
          max_interval: 30s
          max_elapsed_time: 300s

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [transform, batch]
          exporters: [clickhouse]
        logs:
          receivers: [otlp]
          processors: [transform, transform/pfsense, transform/coredns, batch]
          exporters: [clickhouse]
        metrics:
          receivers: [otlp]
          processors: [transform, batch]
          exporters: [clickhouse]
